body {
  font-family: monospace; /* Make the text monospace */
  margin-bottom: 200px;
  margin-top: 50px;
}

.logo {
  display: block; /* Add this line if .logo is an inline element like <img> */
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}

.table-wrapper {
  overflow-x: auto; /* Enable horizontal scrolling */
  margin: 20px 0; /* Add some spacing around the table */
}

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px; /* Smaller font size */
}

h1 {
  text-align: center;
  padding: 10px;
}

table,
th,
td {
  border: 1px solid black;
}

th,
td {
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

@media screen and (min-width: 1024px) {
  .table-wrapper {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  table {
    min-width: 1024px; /* Ensure table is wider on big screens */
  }
}
